In [3]:
for i in range(1,5):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****

In [1]:
a= 1
for i in range(1,7):
    for j in range(i):
        print(a,end=" ")
        a+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [7]:
name = "ali"
print(name.capitalize())

Ali

In [9]:
name = "sAmEer"
print(name.casefold())

sameer

In [11]:
name = "nabeel"
print(name.center(20))

       nabeel

In [14]:
name = "Qasim"
print(*name.encode("utf-8"))

81 97 115 105 109

In [16]:
var = """
Name : {}
Father's Name : {}
Course : {}
"""
print(var.format("ABC","XYZ","Python"))

Name : ABC
Father's Name : XYZ
Course : Python

In [19]:
email = "SamEer42ms"
print(email.upper())

SAMEER42MS

In [35]:
emp = {
    1.5 : "598",
    "Name" : 2
}
emp["Grade"] = "AB"
emp["Name"] = "ABC"
print(emp)

{1.5: '598', 'Name': 'ABC', 'Grade': 'AB'}

In [39]:
li = []
d1 = {
     1.5 : "598",
    "Name" : 2
}
d2 = {
     1 : "599",
    "Name" : 3
}
li.append(d1)
li.append(d2)
print(li)

[{1.5: '598', 'Name': 2}, {1: '599', 'Name': 3}]

In [40]:
for i in range(len(li)):
    for j,k in li[i].items():
        print(j,":",k)
    print()

1.5 : 598
Name : 2

1 : 599
Name : 3

In [41]:
print(li[0][1.5])

598

In [42]:
d = {
    "name" : ["Sameer","nabeel"]
}
print(d)

{'name': ['Sameer', 'nabeel']}

In [43]:
d["name"]

['Sameer', 'nabeel']

In [45]:
d ={
    1:{
    1.5 : "598",
    "Name" : 2,
    },
   2: {
    1.5 : "598",
    "Name" : 2
    }
}
print(d)

{1: {1.5: '598', 'Name': 2}, 2: {1.5: '598', 'Name': 2}}

In [46]:
for i in d:
    for j,k in d[i].items():
        print(j,":",k)
    print()

1.5 : 598
Name : 2

1.5 : 598
Name : 2